@media screen and (min-width: 1024px) {
  .videoContainer {
    padding: 0;
    width: 100%;
    height: calc(100vh / 10 * 7);
    position: relative;
  }
  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed,
  .videoContainer img {
    position: absolute;
    height: calc(100vh / 10 * 7);
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
    width: 100%;
    height: calc(100vw / 3 * 2);
  }

  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed,
  .videoContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vw / 3 * 2);
  }
}
