.videoContainer {
  padding: 0;
  height: 70vh;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .videoContainer {
    height: 60vh;
  }
}
@media screen and (max-width: 768px) {
  .videoContainer {
    height: 50vh;
  }
}
@media screen and (max-width: 640px) {
  .videoContainer {
    height: 40vh;
  }
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed,
.videoContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
